footer#footer
    .container
        .row
            .col-sm-12.text-center.bottom-separator
                img.img-responsive.inline(src='img/home/under.png', alt='')
            .col-md-4.col-sm-6
                .testimonial.bottom
                    h2 Testimonial
                    .media
                        .pull-left
                            a(href='#')
                                img(src='img/home/profile1.png', alt='')
                        .media-body
                            blockquote Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.
                            h3
                                a(href='#') - Jhon Kalis
                    .media
                        .pull-left
                            a(href='#')
                                img(src='img/home/profile2.png', alt='')
                        .media-body
                            blockquote Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.
                            h3
                                a(href='') - Abraham Josef
            .col-md-3.col-sm-6
                .contact-info.bottom
                    h2 Contacts
                    address
                        | E-mail: 
                        a(href='mailto:info@youremail.com') info@youremail.com
                        br
                        | Phone: +1 (123) 456 7890 
                        br
                        | Fax: +1 (123) 456 7891 
                        br
                    h2 Address
                    address
                        | Unit C2, St.Vincent's Trading Est., 
                        br
                        | Feeder Road, 
                        br
                        | Bristol, BS2 0UY 
                        br
                        | United Kingdom 
            .col-md-4.col-sm-12
                .contact-form.bottom
                    h2 Send a message
                    form#main-contact-form(name='contact-form', method='post', action='sendemail.php')
                        .form-group
                            input.form-control(type='text', name='name', required='required', placeholder='Name')
                        .form-group
                            input.form-control(type='email', name='email', required='required', placeholder='Email Id')
                        .form-group
                            textarea#message.form-control(name='message', required='required', rows='8', placeholder='Your text here')
                        .form-group
                            input.btn.btn-submit(type='submit', name='submit', value='Submit')
            .col-sm-12
                .copyright-text.text-center
                    p © Company 2016. All Rights Reserved.
                    p
                    | Designed by 
                    a(target='_blank', href='#') Us
!= js()
script(type='text/javascript', src='js/jquery.js')
script(type='text/javascript', src='js/bootstrap.min.js')
script(type='text/javascript', src='js/lightbox.min.js')
script(type='text/javascript', src='js/jquery.isotope.min.js')
script(type='text/javascript', src='js/wow.min.js')
script(type='text/javascript', src='js/jquery.fitvids.js')
script(type='text/javascript', src='js/holder.js')
script(type='text/javascript', src='js/jquery.countTo.js')
script(type='text/javascript', src='js/audio.min.js')
script(type='text/javascript', src='js/masonry.min.js')
script.
    audiojs.events.ready(function() {
    var as = audiojs.createAll();
    });
script(type='text/javascript', src='js/alljs.js')