extends layout

block content
    section#page-breadcrumb
        .vertical-center.sun
            .container
                .row
                    .action
                        .col-sm-12
                            h1.title Services
                            p Designed to suit you.
    section#company-information.choose
        .container
            .row
                .col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='0ms')
                    img.img-responsive(src='img/services/4.png', alt='')
                .col-sm-6.padding-top.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='0ms')
                    h2 Why Choose Us?
                    p
                      | Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore
                      br
                      |  tail corned beef Capicola nisi flank sed.
                    ul.elements
                        li.wow.fadeInUp(data-wow-duration='900ms', data-wow-delay='100ms')
                            i.fa.fa-angle-right
                            |  when an unknown printer took a galley of type
                        li.wow.fadeInUp(data-wow-duration='800ms', data-wow-delay='200ms')
                            i.fa.fa-angle-right
                            |  scrambled it to make a type specimen book.
                        li.wow.fadeInUp(data-wow-duration='700ms', data-wow-delay='300ms')
                            i.fa.fa-angle-right
                            |  scrambled it to make a type specimen book.
                        li.wow.fadeInUp(data-wow-duration='600ms', data-wow-delay='400ms')
                            i.fa.fa-angle-right
                            |  scrambled it to make a type specimen book.
                        li.wow.fadeInUp(data-wow-duration='500ms', data-wow-delay='500ms')
                            i.fa.fa-angle-right
                            |  but also the leap into electronic typesetting.
    section#services
          .container
            .row
                .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='300ms')
                    .single-service
                        .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='300ms')
                            img(src='img/home/icon1.png', alt='')
                        h2 Incredibly Responsive
                        p Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.
                .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='600ms')
                    .single-service
                        .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='600ms')
                            img(src='img/home/icon2.png', alt='')
                        h2 Superior Typography
                        p Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.
                .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='900ms')
                    .single-service
                        .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='900ms')
                            img(src='img/home/icon3.png', alt='')
                        h2 Swift Page Builder
                        p Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.
                .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='300ms')
                    .single-service
                        .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='300ms')
                            img(src='img/services/1.png', alt='')
                        h2 Incredibly Responsive
                        p Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.
                .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='600ms')
                    .single-service
                        .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='600ms')
                            img(src='img/services/2.png', alt='')
                        h2 Superior Typography
                        p Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.
                .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='900ms')
                    .single-service
                        .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='900ms')
                            img(src='img/services/3.png', alt='')
                        h2 Swift Page Builder
                        p Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.
    section#action.responsive
        .vertical-center
            .container
                .row
                    .action.take-tour
                        .col-sm-7.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='300ms')
                            h1.title Triangle Corporate Template
                            p A responsive, retina-ready & wide multipurpose template.
                        .col-sm-5.text-center.wow.fadeInRight(data-wow-duration='500ms', data-wow-delay='300ms')
                            .tour-button
                                a.btn.btn-common(href='#') TAKE THE TOUR
    section#team
        .container
            .row
                h1.title.text-center.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='300ms') Meet the Team
                p.text-center.wow.fadeInDown(data-wow-duration='400ms', data-wow-delay='400ms')
                    | Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    br
                    | Ut enim ad minim veniam, quis nostrud
                #team-carousel.carousel.slide.wow.fadeIn(data-ride='carousel', data-wow-duration='400ms', data-wow-delay='400ms')
                    ol.carousel-indicators.visible-xs
                        li.active(data-target='#team-carousel', data-slide-to='0')
                        li(data-target='#team-carousel', data-slide-to='1')
                    .carousel-inner
                        .item.active
                            .col-sm-3.col-xs-6
                                .team-single-wrapper
                                    .team-single
                                        .person-thumb
                                            img.img-responsive(src='img/aboutus/1.jpg', alt='')
                                        .social-profile
                                            ul.nav.nav-pills
                                                li
                                                    a(href='#')
                                                        i.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        i.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        i.fa.fa-google-plus
                                    .person-info
                                        h2 John Doe
                                        p CEO & Developer
                            .col-sm-3.col-xs-6
                                .team-single-wrapper
                                    .team-single
                                        .person-thumb
                                            img.img-responsive(src='img/aboutus/2.jpg', alt='')
                                        .social-profile
                                            ul.nav.nav-pills
                                                li
                                                    a(href='#')
                                                        i.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        i.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        i.fa.fa-google-plus
                                    .person-info
                                        h2 John Doe
                                        p CEO & Developer
                            .col-sm-3.col-xs-6
                                .team-single-wrapper
                                    .team-single
                                        .person-thumb
                                            img.img-responsive(src='img/aboutus/3.jpg', alt='')
                                        .social-profile
                                            ul.nav.nav-pills
                                                li
                                                    a(href='#')
                                                        i.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        i.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        i.fa.fa-google-plus
                                    .person-info
                                        h2 John Doe
                                        p CEO & Developer
                            .col-sm-3.col-xs-6
                                .team-single-wrapper
                                    .team-single
                                        .person-thumb
                                            img.img-responsive(src='img/aboutus/1.jpg', alt='')
                                        .social-profile
                                            ul.nav.nav-pills
                                                li
                                                    a(href='#')
                                                        i.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        i.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        i.fa.fa-google-plus
                                    .person-info
                                        h2 John Doe
                                        p CEO & Developer
                        .item
                            .col-sm-3.col-xs-6
                                .team-single-wrapper
                                    .team-single
                                        .person-thumb
                                            img.img-responsive(src='img/aboutus/4.jpg', alt='')
                                        .social-profile
                                            ul.nav.nav-pills
                                                li
                                                    a(href='#')
                                                        i.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        i.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        i.fa.fa-google-plus
                                    .person-info
                                        h2 John Doe
                                        p CEO & Developer
                            .col-sm-3.col-xs-6
                                .team-single-wrapper
                                    .team-single
                                        .person-thumb
                                            img.img-responsive(src='img/aboutus/3.jpg', alt='')
                                        .social-profile
                                            ul.nav.nav-pills
                                                li
                                                    a(href='#')
                                                        i.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        i.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        i.fa.fa-google-plus
                                    .person-info
                                        h2 John Doe
                                        p CEO & Developer
                            .col-sm-3.col-xs-6
                                .team-single-wrapper
                                    .team-single
                                        .person-thumb
                                            img.img-responsive(src='img/aboutus/2.jpg', alt='')
                                        .social-profile
                                            ul.nav.nav-pills
                                                li
                                                    a(href='#')
                                                        i.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        i.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        i.fa.fa-google-plus
                                    .person-info
                                        h2 John Doe
                                        p CEO & Developer
                            .col-sm-3.col-xs-6
                                .team-single-wrapper
                                    .team-single
                                        .person-thumb
                                            img.img-responsive(src='img/aboutus/1.jpg', alt='')
                                        .social-profile
                                            ul.nav.nav-pills
                                                li
                                                    a(href='#')
                                                        i.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        i.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        i.fa.fa-google-plus
                                    .person-info
                                        h2 John Doe
                                        p CEO & Developer
                    a.left.team-carousel-control.hidden-xs(href='#team-carousel', data-slide='prev') left
                    a.right.team-carousel-control.hidden-xs(href='#team-carousel', data-slide='next') right
